.lightingContainer {
    max-width: 500px;
    text-align: left;
    margin: 10px auto;
    padding: 20px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08), 0 1px 2px rgba(0,0,0,0.16);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow: hidden;
    box-sizing: border-box;
}

.lightsIndicatorContainer {
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightSetting {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.lightCycleTime {
    padding-left: 30px;
    font-weight: bold;
    font-size: 12px;
    color: #3f3f3f;
}




/*Temperature card */

.tempColorChange {
    border-radius: 5px;
}

.chartContainer {
    margin: 10px 0 20px 0;
    font-size: 22px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #333333;
}

.titleText {
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: left;
}

.iconImg {
    height: 30px;
    margin-right: 5px;
}

.readingLabel {
    padding-bottom:7px;
    font-weight: bold;
    font-size: 14px;
    color: #696969;
}

.smallerSymbol {
    font-size: 14px;
    font-weight: bold;
}

.timeUpdated {
    float: right;
    font-size: 11px;
    font-weight: bold;
    color: #999999;
}

.tempColor {
    color: #FF416C;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.humiColor {
    color: #667db6;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}